:root{
    --btn-light: #5B5B5E;
    --btn-dark: #29292B;
    --btn-orange: #FE9E09;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator{
    background-color: #000000;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 320px;
}

.display{
    background-color: #222;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    min-height: 40px;
    text-align: right;

}

.display p{
    padding-right: 10px;
    font-size: 30px;
}

button{
    color: #ffffff;
    background-color: var(--btn-dark);
    gap: 20px;
    border: none;
    border-radius: 50px;
    padding: 20px;
}

.btn-light{
   background-color: var(--btn-light);
}

.btn-orange{
    background-color: var(--btn-orange);
}